<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hackathon</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class="jumbotron">
<center>
<h2>Attendace Management</h2>
<button class="btn btn-primary"><a href="/pin" style="text-decoration:none;color:white">Set pin</a></button>
<br>
<br>
<button class="btn btn-warning"><a href="/average" style="text-decoration:none;color:white;">Get average</a></button>
</center>
</div>
</body>
</html>